<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Information</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3><span th:text="#{studentInformation}"></span></h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold"><span th:text="#{id}"></span>:</div>
                <div class="col-sm-9"><span th:text="${student.id}"></span></div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold"><span th:text="#{password}"></span>:</div>
                <div class="col-sm-9"><span th:text="${student.password}"></span></div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold"><span th:text="#{name}"></span>:</div>
                <div class="col-sm-9"><span th:text="${student.name}"></span></div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3 font-weight-bold"><span th:text="#{email}"></span>:</div>
                <div class="col-sm-9"><span th:text="${student.email}"></span></div>
            </div>
            <div th:if="${hideScore == 'no'}">
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold"><span th:text="#{score}"></span>:</div>
                    <div class="col-sm-9"><span th:text="${student.score}"></span></div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold"><span th:text="#{comment}"></span>:</div>
                    <div class="col-sm-9"><span th:text="${student.comment}"></span></div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a class="btn btn-success btn-block" th:href="@{/student/{id}/modify(id=${student.id})}"><span th:text="#{modify}"></span></a>
        </div>
        <a href="?locale=ko">ko</a><br />
        <a href="?locale=en">en</a><br />
    </div>
</div>
<!-- Bootstrap JS and dependencies (optional for some components like modals) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
