<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/student/{id}/modify(id=${student.id})}">
    아이디: <span th:text="${student.id}"></span><br />
    <input type="hidden" name="id" th:value="${student.id}"/>
    비밀번호: <input type="password" name="password" th:value="${student.password}"/><br />
    이름: <input type="text" name="name" th:value="${student.name}"/><br />
    이메일: <input type="text" name="email" th:value="${student.email}"/><br />
    성적: <input type="number" name="score" th:value="${student.score}"/><br />
    평가: <textarea name="comment" rows="10" cols="80" th:value="${student.comment}"></textarea><br />
    <input type="submit" />
</form>
</body>
</html>